__pycache__/
*.pyc
*.pyo
.DS_Store
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.env
venv/
scratch.txt

03_activations_gradients_batchnorm.ipynb
04_wavenet.ipynb
05_transformer_name_generation.ipynb
mlp_practice.ipynb
